<p id="notice"><%= notice %></p>

<p>
  <strong>Stafffname:</strong>
  <%= @staff.staffFname %>
</p>

<p>
  <strong>Stafflname:</strong>
  <%= @staff.staffLname %>
</p>

<p>
  <strong>Staffstreet:</strong>
  <%= @staff.staffStreet %>
</p>

<p>
  <strong>Staffcity:</strong>
  <%= @staff.staffCity %>
</p>

<p>
  <strong>Staffzip:</strong>
  <%= @staff.staffZip %>
</p>

<p>
  <strong>Staffphone:</strong>
  <%= @staff.staffPhone %>
</p>

<p>
  <strong>Staffemail:</strong>
  <%= @staff.staffEmail %>
</p>

<p>
  <strong>Staffdob:</strong>
  <%= @staff.staffDoB %>
</p>

<p>
  <strong>Staffgender:</strong>
  <%= @staff.staffGender %>
</p>

<p>
  <strong>Staffposition:</strong>
  <%= @staff.staffPosition %>
</p>

<p>
  <strong>Stafflocation:</strong>
  <%= @staff.staffLocation %>
</p>

<p>
  <strong>Staffphone:</strong>
  <%= @staff.staffPhone %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
