<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Year</th>
      <th>Nationality</th>
      <th>Needs</th>
      <th>Comments</th>
      <th>Status</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Advisorid</th>
      <th>Nextid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.fName %></td>
        <td><%= student.lName %></td>
        <td><%= student.street %></td>
        <td><%= student.city %></td>
        <td><%= student.zip %></td>
        <td><%= student.phone %></td>
        <td><%= student.email %></td>
        <td><%= student.dob %></td>
        <td><%= student.gender %></td>
        <td><%= student.year %></td>
        <td><%= student.nationality %></td>
        <td><%= student.needs %></td>
        <td><%= student.comments %></td>
        <td><%= student.status %></td>
        <td><%= student.major %></td>
        <td><%= student.minor %></td>
        <td><%= student.advisorID %></td>
        <td><%= student.nextID %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
