<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @student.fName %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.lName %>
</p>

<p>
  <strong>Street:</strong>
  <%= @student.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @student.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.nationality %>
</p>

<p>
  <strong>Needs:</strong>
  <%= @student.needs %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @student.comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @student.minor %>
</p>

<p>
  <strong>Advisorid:</strong>
  <%= @student.advisorID %>
</p>

<p>
  <strong>Nextid:</strong>
  <%= @student.nextID %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
