<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @student.studentId %>
</p>

<p>
  <strong>Studentfname:</strong>
  <%= @student.studentFname %>
</p>

<p>
  <strong>Studentlname:</strong>
  <%= @student.studentLname %>
</p>

<p>
  <strong>Studentstreet:</strong>
  <%= @student.studentStreet %>
</p>

<p>
  <strong>Studentcity:</strong>
  <%= @student.studentCity %>
</p>

<p>
  <strong>Studentzip:</strong>
  <%= @student.studentZip %>
</p>

<p>
  <strong>Studentphone:</strong>
  <%= @student.studentPhone %>
</p>

<p>
  <strong>Studentemail:</strong>
  <%= @student.studentEmail %>
</p>

<p>
  <strong>Studentdob:</strong>
  <%= @student.studentDoB %>
</p>

<p>
  <strong>Studentgender:</strong>
  <%= @student.studentGender %>
</p>

<p>
  <strong>Studentyear:</strong>
  <%= @student.studentYear %>
</p>

<p>
  <strong>Studentnationality:</strong>
  <%= @student.studentNationality %>
</p>

<p>
  <strong>Studentneeds:</strong>
  <%= @student.studentNeeds %>
</p>

<p>
  <strong>Studentcomments:</strong>
  <%= @student.studentComments %>
</p>

<p>
  <strong>Studentstatus:</strong>
  <%= @student.studentStatus %>
</p>

<p>
  <strong>Studentmajor:</strong>
  <%= @student.studentMajor %>
</p>

<p>
  <strong>Studentminor:</strong>
  <%= @student.studentMinor %>
</p>

<p>
  <strong>Advisorid:</strong>
  <%= @student.advisorID %>
</p>

<p>
  <strong>Nextid:</strong>
  <%= @student.nextID %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
