<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :paymentDate %>
    <%= form.date_select :paymentDate, id: :payment_paymentDate %>
  </div>

  <div class="field">
    <%= form.label :paymentMethod %>
    <%= form.text_field :paymentMethod, id: :payment_paymentMethod %>
  </div>

  <div class="field">
    <%= form.label :paymentReminder %>
    <%= form.date_select :paymentReminder, id: :payment_paymentReminder %>
  </div>

  <div class="field">
    <%= form.label :paymentReminder2 %>
    <%= form.date_select :paymentReminder2, id: :payment_paymentReminder2 %>
  </div>

  <div class="field">
    <%= form.label :studentID %>
    <%= form.number_field :studentID, id: :payment_studentID %>
  </div>

  <div class="field">
    <%= form.label :invoiceID %>
    <%= form.number_field :invoiceID, id: :payment_invoiceID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
