<p id="notice"><%= notice %></p>

<h1>Parkings</h1>

<table>
  <thead>
    <tr>
      <th>Parkingname</th>
      <th>Parkingcity</th>
      <th>Parkingstreet</th>
      <th>Parkingzip</th>
      <th>Parkingspace</th>
      <th>Parkingavailability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.parkingName %></td>
        <td><%= parking.parkingCity %></td>
        <td><%= parking.parkingStreet %></td>
        <td><%= parking.parkingZip %></td>
        <td><%= parking.parkingSpace %></td>
        <td><%= parking.parkingAvailability %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
